.events-section {
    background: none;
}

.about__area.about__area_one .about__content {
    padding-top: 0px;
}

.react_populars_topics .container {
    max-width: 1320px;
}

.react_populars_topics.react_populars_topics_about .react__title__section-all {
    padding-top: 30px;
}

.footer-address .address svg {
    width: 38px !important;
}

.events-section .event-item .date .day {
    font-size: 26px;
}

.events-section .event-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.events-section .events-section-title {
    margin-bottom: 0px;
}

.about__area h2,
.react__title__section.react__title__section2 h2,
.accordion__area .accordion__wrapper-1 h2,
.section-title-area-seven .section-title,
.events-section .events-section-title .events-title,
.react__title__section-all h2
 {
	font-size: 40px;
}

.react-footer .footer-top .footer-widget.footer-widget-2 {
    padding-left: 45px;
    padding-right: 45px;
}

.course-section .course-inner .course-contents {
	padding: 0px;
}

.student_satisfaction-section {
    padding-top: 0px;
    padding-bottom: 15px;
}

.hero4__area .hero4__image {
    visibility: hidden;
}

.student_satisfaction-section .author-sec {
    text-align: center;
    padding-top: 0px;
}

.student_satisfaction-section .count__area2 .star-custom .text em {
    color: #FFA439;
    font-size: 37px;
    margin-left: 1px;
}

#react__circle_loader {
	width: 70px;
	height: 70px;
}

#achievements img {
	max-width: 70%;
}

#achievements .item__inner {
	text-align: center;
}

.react_populars_topics.react_populars_topics2 .item__inner {
	padding: 40px 33px 35px;
}

.accordion__wrapper1_mos {
	font-size: 30px;
    font-weight: 700;
    color: #0F1216;
    margin: 0 0 10px;
    line-height: 54px;
}
.accordion__area .accordion .accordion-header .accordion-button::after {
	display: none;
}

#partners .item__inner {
	height: 356px;
}

#partners .icon {
	height: 200px;
}

#partners.react_populars_topics.react_populars_topics .item__inner {
	text-align: center;
}

.react_populars_topics .item__inner {
	padding: 40px 26px 35px;
}

.home-seven-btn-custom {
    padding: 5px 20px;
    background: #D2093C;
    color: #fff;
    border-color: #D2093C;
}

#learning-path p {
    font-size: 18px;
    color: #777;
    line-height: 30px;
}

#learning-path .accordion-body ul {
	padding: 0px 37px;
}

#learning-path .accordion-body ul li {
    border-bottom: 1px solid rgba(2, 3, 52, .078);
    color: #4b4c57;
    padding: 12px 0;
}
#learning-path .accordion-body ul li svg {
	width: 20px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    top: -2px;
}

.student_satisfaction-section {
	background: none !important;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.home-seven-btn a {
    animation: blink 1s infinite;
}

.student_satisfaction-section .owl-carousel .owl-nav [class*=owl-] {
	background: #ebe6e6;
}

.student_satisfaction-section .owl-carousel .owl-nav [class*=owl-].owl-prev,
.student_satisfaction-section .owl-carousel .owl-nav [class*=owl-].owl-next
 {
	top: 50px;
}

.about2__area ul li,
.accordion__area .accordion__wrapper-1 p
 {
	font-size: 18px;
}

#learning-path.accordion__area .accordion .accordion-header .accordion-button,
#learning-path.accordion__area.accordion__area .accordion-button:hover
 {
	font-size: 20px !important;
}

#learning-path .accordion-button {
	display: flex;
    justify-content: space-between;
}

#learning-path .accordion-button svg {
	width: 17px;
    height: 17px;
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.react-header .logo {
	margin-bottom: 10px;
}

.events-section .events-section-title .events-title {
	font-weight: 700;
}

.react__title__section {
    padding-bottom: 0px;
}

.student_satisfaction-section .count__area2 {
    padding-top: 30px;
}

.banner-content {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

@media only screen and (max-width: 480px) {
    .about__title-custom {
        margin-top: 35px;
    }
    .react__shape__ab {
        right: 2.5%;
        top: 16%;
        max-width: 32%;
    }
    .react-footer .footer-top .footer-widget.footer-widget-2 {
        padding-left: 0px;
        padding-right: 0px;
    }
    #learning-path .accordion-body ul {
        padding: 0px 10px;
    }
    #learning-path.accordion__area .accordion .accordion-header .accordion-button, #learning-path.accordion__area.accordion__area .accordion-button:hover {
        font-size: 18px !important;
    }
    .accordion-header > button > span {
        text-align: right;
    }
    #about-us .about__title {
        margin-top: 15px;
    }
    .accordion__wrapper-1 h2.info_title {
        font-size: 34px;
    }

    .accordion__wrapper1_mos {
        font-size: 23px;
    }

    .accordion__wrapper {
        padding-bottom: 15px;
    }
    .events-section {
        padding-top: 25px;
    }
}