.events-section {
    background: none;
}

.about__area.about__area_one .about__content {
    padding-top: 0px;
}

.react_populars_topics .container {
    max-width: 1320px;
}

.react_populars_topics.react_populars_topics_about .react__title__section-all {
    padding-top: 30px;
}

.footer-address .address svg {
    width: 38px !important;
}

.events-section .event-item .date .day {
    font-size: 26px;
}


.events-section .event-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.events-section .events-section-title {
    margin-bottom: 20px;
}