.events-section {
    background: none;
}

.about__area.about__area_one .about__content {
    padding-top: 0px;
}

.react_populars_topics .container {
    max-width: 1320px;
}

.react_populars_topics.react_populars_topics_about .react__title__section-all {
    padding-top: 30px;
}

.footer-address .address svg {
    width: 38px !important;
}

.events-section .event-item .date .day {
    font-size: 26px;
}


.events-section .event-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.events-section .events-section-title {
    margin-bottom: 20px;
}

.about__area h2 {
	font-size: 44px;
}

.react-footer .footer-top .footer-widget.footer-widget-2 {
    padding-left: 45px;
    padding-right: 45px;
}

.course-section .course-inner .course-contents {
	padding: 0px;
}

.react-clients.home-testimonial {
    background: url(assets/images/testimonial/bg.jpg) center top no-repeat !important;
}

.student_satisfaction-section {
    padding-top: 0px;
}

.hero4__area .hero4__image {
    visibility: hidden;
}

.student_satisfaction-section .author-sec {
    text-align: center;
    padding-top: 0px;
}

.student_satisfaction-section .count__area2 .star-custom .text em {
    color: #FFA439;
    font-size: 37px;
    margin-left: 1px;
}

.react__loader_logo img {
    /*width: 75px;*/
}

#react__circle_loader {
	width: 70px;
	height: 70px;
}

#achievements img {
	max-width: 70%;
}

#achievements .item__inner {
	text-align: center;
}

.react_populars_topics.react_populars_topics2 .item__inner {
	padding: 40px 33px 35px;
}

.accordion__wrapper1_mos {
	font-size: 30px;
    font-weight: 700;
    color: #0F1216;
    margin: 0 0 10px;
    line-height: 54px;
}
.accordion__area .accordion .accordion-header .accordion-button::after {
	display: none;
}

#partners .item__inner {
	height: 356px;
}

#partners .icon {
	height: 200px;
}

#partners.react_populars_topics.react_populars_topics .item__inner {
	text-align: center;
}

.react_populars_topics .item__inner {
	padding: 40px 26px 35px;
}

.home-seven-btn-custom {
    padding: 5px 20px;
    background: #D2093C;
    color: #fff;
    border-color: #D2093C;
}

#learning-path p {
    font-size: 19px;
    color: #777;
    line-height: 30px;
}